@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>AZURE</p>
    <div>
        Week 2 Assignment 
    </div>
</div>
